.field-validation-error {
    color: red;
}

.field-validation-valid{
    display: normal;
}

.input-validation-error{
    border: 1px solid red;
    background-color: #fee;
}

.validation-summary-error{
    font-weight: bold;
    color: red
}

.validation-summary-valid{
    display: normal;
}