@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Web application</title>
</head>
<body>
    <div>
        <h1>Want to take the quiz?</h1>
        <a asp-action="Quiz">#QUIZ</a>
    </div>
</body>
</html>