@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="abstract" content="width=device-width" />
    <title>Web application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-sm-center">
        <h1>Want to take the quiz?</h1>
        <a asp-action="Quiz">Take the #QUIZ</a>
    </div>
</body>
</html>